.container {
    width:960px;
    margin: 0 auto;
    /* border:1px solid black; */
    padding:50px;
    display: flex;
    gap:50px;
}

.box {
    width:200px;
    height:200px;
    border:1px solid black;
}

.red {
    background-color: red;
}

.blue {
    background-color:blue;
}